body {
  font-family: sans-serif;
}

.auth-form {
  width: fit-content;
  border-radius: 4px;
  /* border: 1px solid rgb(223, 222, 220); */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
  /* background-color: rgb(226, 255, 226); */
}

.inputs {
  display: flex;
  gap: 10px;
}

.inputs > input {
  font-size: 60px;
  font-family: "Cormorant Garamond", serif;
  font-weight: 100;
  font-style: normal;

  text-align: center;
  width: 60px;
  height: 100px;
  border: 1px solid rgb(221, 219, 219);
  border-radius: 6px;
  gap: 10px;
}

.inputs > input:focus {
  outline-offset: 1px;
  outline: 3px solid rgb(53, 160, 253);
}

.actions {
  display: flex;
  gap: 20px;
}

.actions > button {
  padding: 5px 20px;
}
